.white {
  background-color: #FFFAFA;
}
.yellow {
  background: rgba(224, 209, 36,0.2);
}
.black-yellow {
  background: rgba(224, 155, 36,0.2);
}
.light-green {
  background: rgba(139, 224, 36,0.2);
}
.green {
  background: rgba(64, 224, 36,0.2);
}
.red {
  background: rgba(224, 45, 36,0.2);
}