$main-font: Exo, sans-serif;
$primary-color: #3D3D3D;
$additional-color: #FFD251;
$primary-background-color: #FCFCFA;
$box-shadow-primary: 0px 10px 30px rgba(121, 85, 72, 0.1);
$box-shadow-input:0px 4px 4px rgba(121, 85, 72, 0.04), 0px 4px 16px rgba(121, 85, 72, 0.08);
$border-radius-main: 8px;
$border-radius-additional: 4px;
$navbar-width: 70px